@{
    ViewBag.Title = "About";
}
<div class="container">
    <h2>@ViewBag.Title.</h2>
    
    <p>
        File repository allow you to store your files and access them wherever you want.
        It does this without compromising the security as you can grant the permission to the files.
        If you want that nobody should ever get to your file then you must place them in your private folder and
        give it owner permission. So that only you can view the file.
        In case you are working on some project and need to work in collaboration,
        then easiest way to share the file would be to place the file in shared folder.
        Shared folder is a folder in server which is shared between all the users of this site.
        So you must make sure that you are not storing any sensitive data in shared folder.
        Another way to share the file is to change the permission of the file.
        You must specify who all should be able to see the file and whether they are allowed to make changes in file or not.
        By setting the appropriate access permission you can easily share your work with your team members.
        You can access the files in shared folder and your private folder.
    </p>
    <br />
    <div class="row">
        <div class="col-lg-4">
            <img src="~/Content/Images/FolderStructure.jpg" />
        </div>
        <div class="col-lg-8">
            This website allows you to see the content of your file and allows you to modify the files just by
            clicking the View and Modify buttons present at your home page. Easy download feature, if you desire
            to get your files on disk while working on some other machine. Then you can open this website and login
            with your credentials. You can navigate to the files which you wish to download and then clicking on the
            file will download the particular file on your machine. Wondering, if you want to download the folder or many folders!!
            We have a solution to your question. Select the folders or files by checking the checkbox and then click on the
            download button which will download all the files and folders you have selected. What if you want to save the folder
            with some other name, you can easily do that by selecting the rename option. Unique feature of this website,
            If you are a developer or a person working for an organization where you need to do programming.
            Then we have a lot more for you. When working in big projects, you might have come across situations where
            you have to modify the existing software or you need to set up a meeting with some other developer who is working
            on some other module of same project. If you had this experience then we have a unique way to solving your problem
            without even scheduling a meeting with other developer. We provide you a dependency analysis of your code.
            Dependency Analyzer will help you to have a complete picture of all the dependencies of code across the different locations, getting a good understanding of dependencies will help him to understand the business logic and complete functionality of the project. You can select your code, and click on the find dependencies button and it will pop up a new window where you need to select the code with which you want to find the dependencies.    
        </div>
    </div>
    
</div>