@{
    ViewBag.Title = "Contact";
}

<div class="container">
    <h2>@ViewBag.Title.</h2>
   

    <address>
        Mandeep Singh Jhajj <br />
        Syracuse University<br />
        New York - 13210<br />
        <abbr title="Phone">P:</abbr>
        315-751-3413
    </address>

    <address>
        <strong>Developer:</strong>   <a href="mailto:mjhajj@syr.edu"> mjhajj@syr.edu</a><br />
        <strong>Enquiry:</strong> <a href="mailto:mjhajj@syr.edu"> mjhajj@syr.edu</a>
    </address>
</div>