
@{
    ViewBag.Title = "Help";
}

<h2>Help</h2>

<br />
Unique features of this website:
<ul>
    <li>
        Provides private and public area for storage of files. We recommend you upload confidential code in private area.
    </li>
    <li>
        This website support the storage, retrieval, and viewing of source code files.
    </li>
    <li>
        You will now be able to upload a file or folder, view any of the files in a folder, specify dependency information.
    </li>
    <li>
        You can also retrieve a selected file and optionally all its dependencies, all from a browser.
    </li>
    <li>
        You can create your own folder in public and private area to manage your files.
    </li>
    <li>
        Provides easy navigation. You can select multiple files and view the source code on next and previous click.
    </li>
</ul>

<br />
If you face any issue please feel free to contact.