@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <p>
        <h2>Welcome to FILE REPOSITORY</h2>
        <br />
        Now you can store and share your files with your team member without even transferring files to them.
        File repository allow you to store your files and access them wherever you want. It does this without compromising the security as you can grant the permission to the files. If you want that nobody should ever get to your file then you must place them in your private folder and give it owner permission. So that only you can view the file.
        In case you are working on some project and need to work in collaboration, then easiest way to share the file would be to place the file in shared folder. Shared folder is a folder in server which is shared between all the users of this site. So you must make sure that you are not storing any sensitive data in shared folder.
        
    </p>
    <img src="~/Content/Images/files_foldrers.jpg" />
    <img src="~/Content/Images/file-server.jpg" />
</div>